.Login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginTitle{
    font-size: 64px;
    color: #1775ee;
    font-weight: 500;
}

.LoginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.LoginLeft {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoginRight{
    flex: 6;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}


.LoginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.LoginDesc{
    font-size: 24px;
}

.LoginBox{
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.LoginInput{
    
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
   
}

.LoginInput:focus{
    outline: none
}

.LoginButton, .RegisterButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}


.RegisterButton{
    
    background-color: #42b72a;
}