.profileImageWrapper {
  padding: 60px 10px;
  display: grid;

  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.postImageContainer {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
