.Register{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RegisterTitle{
    font-size: 64px;
    color: #1775ee;
    font-weight: 500;
}

.RegisterWrapper{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.RegisterLeft {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RegisterRight{
    flex: 6;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}


.RegisterLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.RegisterDesc{
    font-size: 24px;
}

.RegisterBox{
    height: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.RegisterInput{
    
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
   
}

.RegisterInput:focus{
    outline: none
}

.RegisterButton, .LoginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.RegisterForgot{
    text-align: center;
    color: #1775ee;
}


.LoginButton{
    
    background-color: #42b72a;
}