.Post{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin:30px 0;
}

.PostWrapper{
    padding: 24px;
}

.PostTopRight{
    cursor: pointer;
}

.PostUsername{
    font-weight: 500;
}

.large{
    margin-right: 10px;
}

.PostTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PostTopLeft{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PostCenter{
    margin-top: 20px;
}
.PostImage{
    margin: 14px 0;
    width: 100%;
    height: 450px;
    max-height: 500px;
    /* object-fit: contain; */
    
}

.LikeIcon, .HeartIcon{
    height:30px;
    width: 30px;
    margin-right: 5px;
}

.PostLikeCounter{
    margin-left: 10px;
}

.PostBottom{
    display: flex;
    align-items: center;
    
}