.RightBarContainer{
    flex: 4;
    position: sticky;
    top: 50px;
    height: 100vh;
    background-color: white;
}

.RightBarWrapper{
    width: 80%;
    margin-top:30px ;
    padding: 5px 20px;
    height: calc(100vh-50px);
}
.RightBarTitle{
    font-size: 18px;
}

